<ion-view title="Votar" id="page2" data-ng-init="Avaliacao.avaliacao = {}">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="votar-list6">
      <ion-item class="item-avatar" id="votar-list-item15">
        <h2>{{Avaliacao.professor.nome}}</h2>
      </ion-item>
      <ion-item>
        <form id="votar-form{{criterio}}" class="list" data-ng-repeat="criterio in Avaliacao.criterios">
          <form-avaliacao></form-avaliacao>
        </form>
      </ion-item>
      <ion-item>
        <label class="item item-input" id="votar-textarea2">
          <span class="input-label">Comentário</span>
          <textarea style="resize: none;" placeholder="Digite Aqui seu Comentário" data-ng-model="Avaliacao.avaliacao.comentario"></textarea>
        </label>
        <button class="button button-balanced button-block" style="text-align: center; background-color: blue" data-ng-click="Avaliacao.create(Avaliacao.avaliacao)">Avaliar<i class="material-icons" style="margin-left: 4%; margin-top: 2.3%; position: absolute">send</i></button>
      </ion-item>
    </ion-list>
    <!-- <div id="votar-button-bar1" class="button-bar"></div> -->
  </ion-content>
</ion-view>