<ion-radio id="votar-radio{{criterio.codigo}}" data-ng-model = "Avaliacao.nota" value="{{Avaliacao.pontosAvaliativos.pessimo}}">Péssimo</ion-radio>
<ion-radio id="votar-radio{{criterio.codigo}}" data-ng-model = "Avaliacao.nota" value="{{Avaliacao.pontosAvaliativos.ruim}}">Ruim</ion-radio>
<ion-radio id="votar-radio{{criterio.codigo}}" data-ng-model = "Avaliacao.nota" value="{{Avaliacao.pontosAvaliativos.regular}}">Regular</ion-radio>
<ion-radio id="votar-radio{{criterio.codigo}}" data-ng-model = "Avaliacao.nota" value="{{Avaliacao.pontosAvaliativos.bom}}">Bom</ion-radio>
<ion-radio id="votar-radio{{criterio.codigo}}" data-ng-model = "Avaliacao.nota" value="{{Avaliacao.pontosAvaliativos.otimo}}">Ótimo</ion-radio>
<ion-radio id="votar-radio{{criterio.codigo}}" data-ng-model = "Avaliacao.nota" value="{{Avaliacao.pontosAvaliativos.excelente}}">Excelente</ion-radio>
<input class="nota" type="hidden" value="{{Avaliacao.nota}}">