<ion-view title="Avaliação de docentes - IFPB" id="page4">
  <ion-content padding="true" class="has-header">
    <img src="../img/logo.png" style="display: block; width: 50%; height: auto; margin-bottom: 20%; margin-top: 20%; margin-left: auto; margin-right: auto;">
    <form id="page4-form7" class="list">
      <div class="spacer" style="width: 300px; height: 4px;"></div>
      <ion-list id="page4-list9">
        <label class="item item-input" id="page4-input4">
          <span class="input-label">Matricula</span>
          <input type="text" placeholder="" data-ng-model="Login.form.matricula">
        </label>
        <label class="item item-input" id="page4-input5">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="" data-ng-model="Login.form.senha">
        </label>
      </ion-list>
      <a id="page4-button2" style="border-radius:3px 3px 3px 3px;" class="button button-balanced button-block" data-ng-click="Login.login(Login.form)">Entrar</a>
    </form>
  </ion-content>
</ion-view>