<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="true" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item id="menu-list-item7" ui-sref="menu.perfil()" menu-close="">
          <i class="material-icons" style="margin-right: 5%;">account_circle</i>Perfil
        </ion-item>
        <ion-item class="dark" id="menu-list-item1" ui-sref="menu.avaliarDocente()" menu-close="">
          <i class="material-icons" style="margin-right: 5%;">done_all</i>Avaliar Docente
        </ion-item>
        <ion-item class="dark" id="menu-list-item6" ui-sref="menu.ranking()" menu-close="">
          <i class="material-icons" style="margin-right: 5%;">thumbs_up_down</i>Raking
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>