<ion-view title="Perfil" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="perfil-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="perfil-list-item-container2"></div>
      <ion-item class="item-icon-left" id="perfil-list-item14">
        <i class="icon ion-android-create"></i>Nome</ion-item>
      <ion-item class="item-icon-left" id="perfil-list-item16">
        <i class="icon ion-android-create"></i>Matricula</ion-item>
    </div>
  </ion-content>
</ion-view>