<ion-view title="Avaliar Docente" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="avaliarDocente-list2" data-ng-repeat="professor in Professor.professores">
      <ion-item class="item-avatar" id="avaliarDocente-list-item4" data-ng-click="Professor.envia({{professor}})">
        <h2>{{professor.nome}}</h2>
        <p>{{professor.nota}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>