<ion-view title="Ranking" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="ranking-list12">
      <ion-item class="item-avatar" id="ranking-list-item19" data-ng-repeat="ranking in Professor.rankingGeral">
        <h2>{{ranking.nome}}</h2>
        <p>{{ranking.nota}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>